table.iksweb {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.iksweb, table.iksweb td, table.iksweb th {
    border: 1px solid #595959;
}

table.iksweb td, table.iksweb th {
    padding: 3px;
    width: 30px;
    height: 35px;
}

table.iksweb th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}

/* Выделение текущей цены желтым фоном */
table.iksweb td.current-price {
    background-color: yellow;
}

/* Выделение текущей цены зеленым фоном */
table.iksweb td.min-price {
    background-color: green;
}

/* Полужирное начертание для текущей цены меньше предпоследней */
table.iksweb td.less-than-prev {
    font-weight: bold;
}
.green-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;

}
.red-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;

}
li:last-child {
   padding-top: 5px;
}
